<h1>Need to reset password?</h1>
<p>Enter your email</p>
<form action="<%= password_resets_url %>" method="post">
  <label>Email
  <input type="email" name="email">
</label>
<input type="submit" value="Reset Password">
