<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= (button_to "Sign Out", session_url, method: :delete) if current_user %>
<%= flash_errors %>
<%= yield %>

</body>
</html>
